<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>entrada</servlet-name>
        <servlet-class>ServletN</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletM</servlet-name>
        <servlet-class>ServletM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crear</servlet-name>
        <servlet-class>crear</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contra</servlet-name>
        <servlet-class>contra</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>entrada</servlet-name>
        <url-pattern>/entrada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletM</servlet-name>
        <url-pattern>/ServletM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crear</servlet-name>
        <url-pattern>/crear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contra</servlet-name>
        <url-pattern>/contra</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
